body {
  background-color: rgb(0,0,160);
  color: white;
}
a {
  color: white;
}
.grid {
  padding: 0% 10%;
  /* margin-bottom: 50px; */
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-areas:
  "box1 box1 box1"
  "box2 box3 box3"
  "box2 box3 box3"
  "box2 box3 box3"
  ;
}
.content {
  display: none;
  word-wrap: break-word;
}
#box1 {
  grid-area: box1;
  width: 100%;
  text-align: center;
}
#box2 {
  grid-area: box2;
  width: 100%;
}
#box3 {
  grid-area: box3;
}
#box4 {
  position: absolute;
  width: 80%;
  margin: 0% 10%;
  bottom: 0px;
  display: flex;
  /* grid-area: box4; */
  justify-content: space-around;
  overflow: scroll;
}
