body{
  background: Black;
  padding-left: 100px;
  padding-top: 50px;
}
.title{
  color: rgb(220,220,220, .6);
  text-decoration: underline;
  text-shadow: 3px 3px 5px teal;
  font-size: 40px;
}
.BioPane{
  /* background-image:url("../images/Mario.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 5px 2.5px teal;
  height: 376px;
  width: 501px;
}
.BioPane > h1, .BioPane > h2
